.friends {
  padding-bottom: 50px;
  font-size: 24px;
}
.item {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 20px 25px;
  width: 450px;
  border-radius: 5px;
  color: black;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.name {
  font-size: 24px;
  font-weight: 500;
  margin-left: 25px;
}
.isOnline {
  display: inline-block;
  margin-right: 20px;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.isOffline {
  display: inline-block;
  margin-right: 20px;
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
